Source: hdmiservice
Priority: extra
Maintainer: John Fredriksson <john.xj.fredriksson@stericsson.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Section: libs
Homepage: http://igloocommunity.org

Package: hdmiservice-dev
Section: libdevel
Architecture: armel
Depends: hdmiservice (= ${binary:Version})
Description: HDMI userspace control daemon library development files
 This package contains the HDMIservice library develompent files

Package: hdmiservice
Section: libs
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HDMI userspace control daemon
 HDMIservice is a userspace daemon to negotiate display modes for AV8100
 display system found on Snowball
